//
   Created by Obscurity on 2016/5/2.

extends ../layout/layout

block content
    .row.journal
        h4.pull-left 日志列表
        if current_user != null
            a.button.button-primary.button-pill.pull-right(href="/journals/new") 写日志
    .divider
    - for (var i = 0; i < journals.length; i++)
        .row.journal
            a.journal-title(href="/journals/" + journals[i]._id)= journals[i].title
            .journal-info= journals[i].updated_at.format("yyyy年MM月dd日 hh:mm") + '　阅读(' + journals[i].read_count + ')'
            .journal-content= journals[i].content
    .text-center
        ul.pagination
            if pagination.current_index > 1
                li
                    a(href="/journals?page=" + (pagination.current_index - 1)) &laquo; 上一页
            - for(var i = (1 > pagination.current_index - 2 ? 1 : pagination.current_index - 2); i <= (pagination.total_page < pagination.current_index + 2 ? pagination.total_page : pagination.current_index + 2); i++)
                if i == pagination.current_index
                    li.active
                        a(href="/journals?page=" + i)= i
                else
                    li
                        a(href="/journals?page=" + i)= i
            if pagination.current_index < pagination.total_page
                li
                    a(href="/journals?page=" + (pagination.current_index + 1)) 下一页 &raquo;