extends ../layout/layout

block specified_ref
    link(rel="stylesheet" type="text/css" href="/diaries.css")
    link(rel="stylesheet" type="text/css" href="/index.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/skins/_all-skins.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/AdminLTE.min.css")
    link(rel="stylesheet" type="text/css" href="/blueimp-file-upload/css/jquery.fileupload.css")
    link(rel="stylesheet" type="text/css" href="/lightgallery/dist/css/lightgallery.min.css")
    link(rel="stylesheet" type="text/css" href="/theme.css")

block content
    .container
        .row.diary
            .col-lg-12.col-md-12
                .box.box-widget
                    .box-header.with-border
                        .box-header.with-border
                            h3.hd.box-title 每日小记
                            if current_user
                                span.pull-right
                                    button.button.button-pill.button-primary(type="button" data-toggle="modal" data-target="#new_diary_modal") 写日记
                        .box-body
                            ul.timeline
                                li
                                    i.fa.fa-clock-o.bg-gray
                                    .timeline-item
                                        .timeline-body 在未来，一切都还会继续...
                                - last_diary_date = ""
                                - var has_shown_diaries = false;
                                for diary in diaries
                                    if diary.is_public || current_user
                                        - has_shown_diaries = true
                                        if diary.recorded_date.format("yyyy-MM-dd") != last_diary_date
                                            - last_diary_date = diary.recorded_date.format("yyyy-MM-dd")
                                            li.time-label
                                                span.bg-green= diary.recorded_date.format("yyyy年MM月dd日")
                                        li
                                            i(id=diary._id + "_tag" tag=diary.tag class="fa " + diary.tag_to_icon() + " " + diary.mood_to_color())
                                            .timeline-item
                                                span.time
                                                    .hidden(id=diary._id + "_content" content=diary.content)
                                                    .hidden(id=diary._id + "_date" date=diary.recorded_date.format("yyyy-MM-dd"))
                                                    .hidden(id=diary._id + "_mood" mood=diary.mood)
                                                    .hidden(id=diary._id + "_publicity" publicity=diary.is_public.toString())
                                                    .hidden(id=diary._id + "_images" images=JSON.stringify(diary.images))
                                                        - for(var i = 0; i < diary.images.length; i++)
                                                            .hidden(thumb=Diary.get_thumb_image("/" + diary.images[i]))
                                                    if !diary.is_public
                                                        i.fa.fa-clock-o= "　私密日记"
                                                h3.hd.timeline-header(id=diary._id + "_brief")= diary.brief
                                                .timeline-body(id=diary._id + "_content")= diary.content
                                                if diary.images.length != 0
                                                    .timeline-body
                                                        div(id=diary._id + "_gallery")
                                                            - for(var i = 0; i < diary.images.length; i++)
                                                                a(href="/" + diary.images[i])
                                                                    img.margin.image_thumb(thumb_url=Diary.get_thumb_image("/" + diary.images[i]))
                                                .timeline-footer
                                                    if current_user
                                                        a.btn.btn-xs.btn-warning(diary_id=diary._id data-toggle="modal" data-target="#edit_diary_modal") 编辑
                                                        a.delete-entry.btn.btn-xs.btn-danger(href="/diaries/" + diary._id + "?_method=delete" style="margin-left: 10px;") 删除
                                if !has_shown_diaries
                                    li
                                        i.fa.fa-clock-o.bg-gray
                                        .timeline-item
                                            .timeline-body 现在，这里还是一片空虚...
                                if render_loader
                                    li#pscroller(style="cursor: pointer;" onclick="$('#scroller').click();")
                                        i.fa.fa-clock-o.bg-gray
                                        .timeline-item
                                            .timeline-body 点击以加载更多
                                    .jscroll.hidden
                                        a#scroller(style="cursor: pointer;" href="/diaries?render=false&offset=" + global.conf.pagination.diary)
                                else
                                    li#end_marker
                                        i.fa.fa-clock-o.bg-gray
                                        .timeline-item
                                            .timeline-body 过去，一切从这里开始

    include ./new
    include ./edit
    include ./reference
    include ./preview