//
   Created by Obscurity on 2016/5/11.

extends ../layout/layout

block content
    .container
        .row.diary
            .col-lg-12.col-md-12
                .box.box-widget
                    .box-header.with-border
                        .box-header.with-border
                            h3.box-title 每日小记
                            if current_user
                                span.pull-right
                                    button.button.button-pill.button-primary(type="button" data-toggle="modal" data-target="#new_diary_modal") 写日记
                        .box-body
                            ul.timeline
                                li
                                    i.fa.fa-clock-o.bg-gray
                                    .timeline-item
                                        .timeline-body 在未来，一切都还会继续...
                                if diaries.length == 0
                                    li
                                        i.fa.fa-clock-o.bg-gray
                                        .timeline-item
                                            .timeline-body 现在，这里还是一片空虚...
                                - last_diary_date = ""
                                - for(var index in diaries)
                                    if diaries[index].recorded_date.format("yyyy-MM-dd") != last_diary_date
                                        - last_diary_date = diaries[index].recorded_date.format("yyyy-MM-dd")
                                        li.time-label
                                            span.bg-green= diaries[index].recorded_date.format("yyyy年MM月dd日")
                                    li
                                        i(id=diaries[index]._id + "_tag" tag=diaries[index].tag class="fa " + diaries[index].tag_to_icon() + " " + diaries[index].mood_to_color())
                                        .timeline-item
                                            span.time
                                                .hidden(id=diaries[index]._id + "_date" date=diaries[index].recorded_date.format("yyyy-MM-dd"))
                                                .hidden(id=diaries[index]._id + "_mood" mood=diaries[index].mood)
                                                //i.fa.fa-clock-o= "　" + diaries[index].recorded_at.format("yyyy年MM月dd日 hh:mm:ss")
                                            h3.timeline-header(id=diaries[index]._id + "_brief")= diaries[index].brief
                                            .timeline-body(id=diaries[index]._id + "_content")= diaries[index].content
                                            if diaries[index].images.length != 0
                                                .timeline-body
                                                    - for(var img_index in diaries[index].images)
                                                        img.margin.image_thumb(src=Diary.get_thumb_image("/" + diaries[index].images[img_index]) full_src="/" + diaries[index].images[img_index])
                                            .timeline-footer
                                                if current_user
                                                    a.btn.btn-xs.btn-warning(diary_id=diaries[index]._id data-toggle="modal" data-target="#edit_diary_modal") 编辑
                                                    a.btn.btn-xs.btn-danger(href="/diaries/" + diaries[index]._id + "?_method=delete" style="margin-left: 10px;") 删除
                                li
                                    i.fa.fa-clock-o.bg-gray
                                    .timeline-item
                                        .timeline-body 过去，一切从这里开始
    include ./new
    include ./edit
    include ./reference
    include ./preview