extends ../layout/layout

block specified_ref
    script(type="text/javascript" src="/marked/marked.js")
    script(type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML")
    script(type="text/javascript" src="/highlightjs/highlight.pack.js")
    link(rel="stylesheet" type="text/css" href="/columns.css")
    link(rel="stylesheet" type="text/css" href="/index.css")
    link(rel="stylesheet" type="text/css" href="/highlightjs/styles/github.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/skins/_all-skins.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/AdminLTE.min.css")
    link(rel="stylesheet" type="text/css" href="/theme.css")

block content
    .container
        .row.column
            h4.hd 专栏列表
        .divider
        .row
            .col-lg-3.col-md-3.hidden-sm.hidden-xs
                table.table.table-bordered
                    tr
                        th 专栏目录
                    tr
                        td
                            a(href="/columns")
                                strong 专栏概要
                    for acolumn in columns
                        tr
                            td(class=(acolumn._id.toString() == column._id.toString() ? "selected-column" : ""))
                                a(href="/columns/" + acolumn._id)
                                    strong= acolumn.name
                    if current_user
                        tr
                            td.text-center
                                a.button.button-primary.button-pill.button-small(href="/columns/new") 添加专栏
            .col-lg-9.col-md-9
                .box.box-solid
                    .box-header.with-border
                        .box-title
                            h3.hd
                                i.fa.fa-book
                                strong.margin= column.name
                        if current_user
                            a.pull-right.btn.btn-app(href="/columns/" + column._id + '/edit')
                                i.fa.fa-pencil
                                | 修改
                            a.delete-entry.pull-right.btn.btn-app(href="/columns/" + column._id + "?_method=DELETE" style="margin-left: 10px;")
                                i.fa.fa-trash
                                | 删除
                    .box-body
                        #column-introduction= global.utils.markdown(column.introduction)
                        .bshare-custom
                            span 分享：
                            a.bshare-qzone(title="分享到QQ空间")
                            a.bshare-sinaminiblog(title="分享到新浪微博")
                            a.bshare-renren(title="分享到人人网")
                            a.bshare-qqmb(title="分享到腾讯微博")
                            a.bshare-qqim(title="分享到QQ好友")
                            a.bshare-weixin(title="分享到微信")
                            a.bshare-more.bshare-more-icon.more-style-addthis(title="更多平台")
                            span.BSHARE_COUNT.bshare-share-count 0
                    .box-body
                        h4.hd 专栏文章：
                        if articles.length != 0
                            table.table
                                for article in articles
                                    tr
                                        td(style="width: 15px;")
                                            h4.hd
                                                strong= article.order
                                        td
                                            h4.hd
                                                strong
                                                    a(href="/columns/" + column._id + "/articles/" + article._id)= article.title
                        else
                            h4.hd
                                strong 该专栏下还没有文章
                    if current_user
                        .box-footer.text-center
                            a.button.button-primary.button-pill(href="/columns/" + column._id + '/articles/new') 添加专栏文章
    include ./reference