.main-header
    nav.navbar.navbar-static-top(role='navigation')
        .container
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse' aria-expanded="true")
                    i.fa.fa-bars
                a.navbar-brand(href='/') HeavenDuke的博客
            #navbar-collapse.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li(class=current_module == "journal" ? "active" : "")
                        a(href='/journals') 博文
                ul.nav.navbar-nav
                    li(class=current_module == "diary" ? "active" : "")
                        a(href='/diaries') 日记
                ul.nav.navbar-nav
                    li(class=current_module == "project" ? "active" : "")
                        a(href='/projects') 项目
                ul.nav.navbar-nav
                    li(class=current_module == "column" ? "active" : "")
                        a(href='/columns') 专栏
                if (current_guest != null)
                    .navbar-custom-menu
                        ul.nav.navbar-nav.pull-right
                            //li.dropdown.messages-menu
                            //    a.dropdown-toggle(href="#" data-toggle="dropdown" aria-expanded="false")
                            //        i.fa.fa-envelope-o
                            //        span.label.label-success#notification_counter
                            //    ul.dropdown-menu
                            //        li.header#notification_intro 暂无新评论
                            //        li
                            //            ul.menu#notification_container
                            li.dropdown.user-menu
                                a.dropdown-toggle(href="#" data-toggle="dropdown" area-expanded="false")
                                    img.user-image.current_guest_head(hash=current_guest._id)
                                    span.hidden-xs= current_guest.username
                                ul.dropdown-menu
                                    li.user-header
                                        img.img-circle.current_guest_head(hash=current_guest._id)
                                        p= current_guest.username
                                            small 欢迎来到HeavenDuke的博客
                                    li.user-footer
                                        .pull-left
                                            a.btn.btn-default.btn-flat(href="/guests/edit") 修改信息
                                        .pull-right
                                            a.btn.btn-default.btn-flat(href="/guests/sessions?_method=delete" + (redirect_url ? ("&redirect_url=" + global.utils.urlEncoder.url_encode(redirect_url)) : "")) 登出

                else if(current_user != null)
                     ul.nav.navbar-nav
                         li(class=current_module == "writing" ? "active" : "")
                             a(href='/writings') 码字
                     .navbar-custom-menu
                         ul.nav.navbar-nav.pull-right
                             //li.dropdown.messages-menu
                             //    a.dropdown-toggle(href="#" data-toggle="dropdown" aria-expanded="false")
                             //        i.fa.fa-envelope-o
                             //        span.label.label-success#notification_counter
                             //    ul.dropdown-menu
                             //        li.header#notification_intro 暂无新评论
                             //        li
                             //           ul.menu#notification_container
                             li.dropdown.user-menu
                                 a.dropdown-toggle(href="#" data-toggle="dropdown" area-expanded="false")
                                     img.user-image(src="/favicon.ico")
                                     span.hidden-xs HeavenDuke
                                 ul.dropdown-menu
                                     li.user-header
                                        img.img-circle(src="/favicon.ico")
                                        p HeavenDuke - Coder
                                            small Beyond Infinity
                                     li.user-footer
                                        .pull-left
                                            a.btn.btn-default.btn-flat(href="/users/edit") 修改信息
                                        .pull-right
                                            a.btn.btn-default.btn-flat(href="/users/sessions?_method=delete") 登出
                else
                     .navbar-custom-menu
                         ul.nav.navbar-nav.pull-right
                             li.dropdown.user-menu
                                 a.dropdown-toggle(href="#" data-toggle="dropdown" area-expanded="false")
                                     img.user-image(src="/head.png")
                                     span.hidden-xs 游客
                                 ul.dropdown-menu
                                     li.user-header
                                         img.img-circle(src="/head.png")
                                         p 游客
                                             small 一直在吃瓜，从未被超越
                                     li.user-footer
                                         .pull-left
                                             a.btn.btn-default.btn-flat(href='/guests/sessions/new') 登录
                                         .pull-right
                                             a.btn.btn-default.btn-flat(href="/guests/new") 注册