extends ./layout/layout

block specified_ref
    script(type="text/javascript" src="/marked/marked.js")
    link(rel="stylesheet" type="text/css" href="/journals.css")
    link(rel="stylesheet" type="text/css" href="/theme.css")
    link(rel="stylesheet" type="text/css" href="/index.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/skins/_all-skins.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/AdminLTE.min.css")

block content
    .container
        .row.home
            .col-lg-4.col-md-4
                .box.box-primary
                    .box-body.box-profile
                        img.profile-user-img.img-responsive.img-circle(src="/favicon.ico")
                        h3.hd.profile-username.text-center= owner.username + " "
                            if owner.sex == 'm'
                                i.fa.fa-mars
                            else
                                i.fa.fa-venus
                        p.text-muted.text-center 键盘的奴隶
                        ul.list-group.list-group-unbordered
                            for key in Object.keys(owner)
                                if ['username', 'sex'].includes(key) == false
                                    li.list-group-item
                                        b= key
                                        a.pull-right= owner[key]
                        .text-center
                            a.badge.bg-blue(href="/profile") About Me
                if diary
                    .box.box-solid.hidden-sm.hidden-xs
                        .box-header.with-border
                            h3.hd.box-title 最新日记
                            a.pull-right(href="/diaries") more
                                i.fa.fa-angle-double-right
                        .box-body
                            p= diary.content.substr(0, 200) + "..."
                            span.text-muted= diary.recorded_date.format("yyyy年MM月dd日")
                .box.box-solid.hidden-sm.hidden-xs
                    .box-header.with-border
                        h3.hd.box-title 最新照片
                        a.pull-right(href="/photos") more
                            i.fa.fa-angle-double-right
                    .box-body
                        #photo-carousel.carousel.slide
                            ol.carousel-indicators
                                - var i = 0
                                for photo in photos
                                    li(data-target="#photo-carousel" data-slide-to=i class=(i == 0 ? "active" : ""))
                                    - i++
                            .carousel-inner
                                - i = 0
                                for photo in photos
                                    div(class=(i == 0 ? "active item" : "item"))
                                        img(src=Photo.get_preview_image("/" + photo.path))
                                    - i++
                .box.box-solid.hidden-sm.hidden-xs
                    .box-header.with-border
                        h3.hd.box-title 友情链接
                    .box-body
                        table(style="width: 100%;")
                            for link in links
                                tr
                                    td
                                        a(href=link.url)
                                            strong= link.name
                                            p.text-muted= link.url
                                    if current_user
                                        td
                                            a.pull-right.btn.btn-flat.btn-xs.btn-danger.delete-entry(href="/links/" + link._id + "?_method=DELETE") 删除
                        if current_user
                            a.btn.btn-info.btn-block(href="#" data-toggle="modal" data-target="#add_link_modal") 添加链接
            .col-lg-8.col-md-8
                .box.box-solid
                    .box-header.with-border
                        h3.hd.box-title 近期博文
                        a.pull-right(href="/journals") more
                            i.fa.fa-angle-double-right
                        for article in articles
                            .row.journal
                                a.journal-title(href="/columns/" + article.column_id + "/articles/" + article._id)= article.title
                                a.pull-right.text-muted.journal-tag(href="/columns/" + article.column_id)
                                    i.fa.fa-book
                                    | 　专栏文章
                                .journal-info= article.updated_at.format("yyyy年MM月dd日 hh:mm") + '　阅读(' + article.read_count + ')　评论(' + article.comment_count + ')'
                                .journal-content= global.utils.journalPreview(global.utils.html2plain(global.utils.markdown(article.content)), global.conf.preview.journal)
                        for journal in journals
                            .row.journal
                                a.journal-title(href="/journals/" + journal._id)= journal.title
                                .journal-info= journal.updated_at.format("yyyy年MM月dd日 hh:mm") + '　阅读(' + journal.read_count + ')　评论(' + journal.comment_count + ')'
                                .journal-content= global.utils.journalPreview(global.utils.html2plain(global.utils.markdown(journal.content)), global.conf.preview.journal)
                                .journal-meta.text-muted
                                    if journal.tags.length == 0
                                        span 关键词：暂无
                                    else
                                        span 关键词：
                                        - var i = 0;
                                        for tag in journal.tags
                                            a.journal-tag(href="/journals?tag=" + tag.name)= tag.name
                                            if i++ < journal.tags.length - 1
                                                span /
    #add_link_modal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header.with-border
                    h3.hd.modal-title 添加友情链接
                .modal-body
                    form.form(method="post" action="/links")
                        .form-group
                            label 外链名称
                            input.form-control(name="name")
                        .form-group
                            label 外链地址
                            input.form-control(name="url")
                        button.btn.btn-block.btn-info 添加

