//
   Created by Obscurity on 2016/3/26.

extends ./layout/layout

block specified_ref
    script(type="text/javascript" src="/marked/marked.js")
    link(rel="stylesheet" type="text/css" href="/journals.css")
    link(rel="stylesheet" type="text/css" href="/theme.css")
    link(rel="stylesheet" type="text/css" href="/index.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/skins/_all-skins.css")
    link(rel="stylesheet" type="text/css" href="/AdminLTE/css/AdminLTE.min.css")

block content
    .container
        .row.home
            .col-lg-4.col-md-4
                .box.box-primary
                    .box-body.box-profile
                        img.profile-user-img.img-responsive.img-circle(src="/favicon.ico")
                        h3.profile-username.text-center= owner.username + " "
                            if owner.sex == 'm'
                                i.fa.fa-mars
                            else
                                i.fa.fa-venus
                        p.text-muted.text-center 键盘的奴隶
                        ul.list-group.list-group-unbordered
                            - for key in Object.keys(owner)
                                if ['username', 'sex'].includes(key) == false
                                    li.list-group-item
                                        b= key
                                        a.pull-right= owner[key]
                if diary
                    .box.box-solid.hidden-sm.hidden-xs
                        .box-header.with-border
                            h3.box-title 最新日记
                            a.pull-right(href="/diaries") more
                                i.fa.fa-angle-double-right
                        .box-body
                            p= diary.content.substr(0, 200) + "..."
                            span.text-muted= diary.recorded_date.format("yyyy年MM月dd日")
                .box.box-solid.hidden-sm.hidden-xs
                    .box-header.with-border
                        h3.box-title 友情链接
                    .box-body
                        table(style="width: 100%;")
                            - for link in links
                                tr
                                    td
                                        a(href=link.url)
                                            strong= link.name
                                            p.text-muted= link.url
                                    if current_user
                                        td
                                            a.pull-right.btn.btn-flat.btn-xs.btn-danger.delete-entry(href="/links/" + link._id + "?_method=DELETE") 删除
                        if current_user
                            a.btn.btn-info.btn-block(href="#" data-toggle="modal" data-target="#add_link_modal") 添加链接
            .col-lg-8.col-md-8
                .box.box-solid
                    .box-header.with-border
                        h3.box-title 近期博文
                        a.pull-right(href="/journals") more
                            i.fa.fa-angle-double-right
                    .box-body
                        - for journal in journals
                            .row.journal
                                a.journal-title(href="/journals/" + journal._id)= journal.placed_top ? journal.title_top() : journal.title
                                .journal-info= journal.updated_at.format("yyyy年MM月dd日 hh:mm") + '　阅读(' + journal.read_count + ')　评论(' + journal.comment_count + ')'
                                .journal-content= global.utils.journalPreview(global.utils.html2plain(global.utils.markdown(journal.content)), global.conf.preview.journal)
    #add_link_modal.modal.fade
        .modal-dialog
            .modal-content
                .modal-header.with-border
                    h3.modal-title 添加友情链接
                .modal-body
                    form.form(method="post" action="/links")
                        .form-group
                            label 外链名称
                            input.form-control(name="name")
                        .form-group
                            label 外链地址
                            input.form-control(name="url")
                        button.btn.btn-block.btn-info 添加

